// Bosch Brandguide colors
$bosch-red-w75: #fabfc5;
$bosch-red-w50: #f4808b;
$bosch-red-w25: #ef4050;
$bosch-red: #ea0016;
$bosch-red-b25: #b00010;
$bosch-red-b50: #75000b;
$bosch-red-b75: #3a0006;

$bosch-fuchsia-w75: #edc0dd;
$bosch-fuchsia-w50: #dc80ba;
$bosch-fuchsia-w25: #cb4198;
$bosch-fuchsia: #b90276;
$bosch-fuchsia-b25: #8b0158;
$bosch-fuchsia-b50: #5d013b;
$bosch-fuchsia-b75: #2e011e;

$bosch-violet-w75: #d3c8df;
$bosch-violet-w50: #a791bf;
$bosch-violet-w25: #7c5a9f;
$bosch-violet: #50237f;
$bosch-violet-b25: #3c1a5f;
$bosch-violet-b50: #281240;
$bosch-violet-b75: #140920;

$bosch-darkblue-w75: #bfd5e3;
$bosch-darkblue-w50: #7faac8;
$bosch-darkblue-w25: #4080ad;
$bosch-darkblue: #005691;
$bosch-darkblue-b25: #00406d;
$bosch-darkblue-b50: #002b49;
$bosch-darkblue-b75: #001624;

$bosch-lightblue-w75: #bfe3f3;
$bosch-lightblue-w50: #7fc6e7;
$bosch-lightblue-w25: #40aadb;
$bosch-lightblue: #008ecf;
$bosch-lightblue-b25: #006a9b;
$bosch-lightblue-b50: #004768;
$bosch-lightblue-b75: #002434;

$bosch-turquoise-w75: #bfe9eb;
$bosch-turquoise-w50: #7fd3d7;
$bosch-turquoise-w25: #40bec4;
$bosch-turquoise: #00a8b0;
$bosch-turquoise-b25: #007e84;
$bosch-turquoise-b50: #005458;
$bosch-turquoise-b75: #002a2c;

$bosch-lightgreen-w75: #ddefc7;
$bosch-lightgreen-w50: #bbde8f;
$bosch-lightgreen-w25: #9ace58;
$bosch-lightgreen: #78be20;
$bosch-lightgreen-b25: #5a8e18;
$bosch-lightgreen-b50: #3c5f10;
$bosch-lightgreen-b75: #1e3008;

$bosch-darkgreen-w75: #bfd8d1;
$bosch-darkgreen-w50: #7fb0a4;
$bosch-darkgreen-w25: #408977;
$bosch-darkgreen: #006249;
$bosch-darkgreen-b25: #004937;
$bosch-darkgreen-b50: #003125;
$bosch-darkgreen-b75: #001912;

$bosch-darkgray: #525f6b;
$bosch-lightgray: #bfc0c2;
$bosch-yellow: #fcaf17;

// BrandGuide colors

$gray-60: #8A9097;
$gray-70: #B2B9C0;
$gray-85: #D0D4D8;
$gray-95: #EFF1F2;

$blue-50: #007BC0;
$red-50: #ED0007;
$purple-40: #9E2896;
$green-50: #00884A;